/node_modules
/.parcel-cache
/dist
/notes-4th lecture
/notes-5th lecture  
/notes-6th lecture
/notes-7th lecture
/notes-8th lecture
/notes-9th lecture
/notes-10th lecture
/notes-11th lecture
/notes-12th lecture
/notes-3th lecture 
/notes-2th lecture
